:root {
  --main-color: #b6e2d3;
  --secondary-color: #ef7c8e;
  --border-color: #fae8e0;
  --details-color: #d8a7b1;
}

body {
  font-family: "Caveat", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Merienda", cursive;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  background: #faf1f1;
  margin: 0;
  padding: 0 !important;
  margin-top: 150px;
}
h1 {
  color: var(--secondary-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 24px;
}
h2 {
  padding-top: 20px;
  font-size: 48px;
  line-height: 24px;
  font-weight: 500;
  color: var(--details-color);
  margin-bottom: -150px;
}

footer {
  background: var(--main-color);
  width: 100%;
  padding: 50px;
}

footer h3 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
}

h4 {
  text-align: center !important ;
  margin: 50px;
  color: var(--details-color);
  background-color: var(--main-color);
  border-radius: 4px;
  padding: 10px 5px;
  line-height: 24px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.contact-font {
  margin-left: 15px;
}
.padding {
  padding-top: 130px;
}
.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-custom {
  background-color: var(--main-color) !important;
  width: 100%;
}
.my-logo {
  width: 136px;
  height: auto;
}
.me-font {
  font-size: 26px !important;
  font-weight: 600 !important;
  color: var(--secondary-color) !important;
  line-height: 24px;
}
.contact-font {
  font-size: 26px;
  font-weight: 600;
  color: var(--secondary-color) !important;
  line-height: 24px;
  padding-right: 50px !important;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.contact-font:hover {
  text-decoration: underline;
}
.home-font {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color) !important;
  line-height: 24px;
  transition: all 150ms ease-in-out;
}
.home-font:hover {
  text-decoration: underline;
}

.about-font {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color) !important;
  line-height: 24px;
  transition: all 150ms ease-in-out;
}

.about-font:hover {
  text-decoration: underline;
}
.portfolio-font {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-color) !important;
  line-height: 24px;
  transition: all 150ms ease-in-out;
}

.portfolio-font:hover {
  text-decoration: underline;
}
.main-button {
  border-radius: 4px;
  background: var(--main-color);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 24;
  padding: 12px 24px;
  margin-right: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.main-button:hover {
  text-decoration: underline;
  background-color: var(--border-color);
  border: solid 2px var(--main-color);
}
.secendory-button {
  border-radius: 4px;
  color: var(--details-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 24;
  padding: 12px 24px;
  border: solid 2px var(--main-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
. .secendory-button:hover {
  text-decoration: underline;
}
.main-row {
  background: var(--border-color);
  width: fit-content;
  height: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.p-bg {
  color: var(--details-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
.img-home-page {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 40px auto;
  width: 440px;
  height: auto;
}
.mb-3 {
  margin: 40px auto;
  color: var(--secondary-color);
}
.p-bg {
  margin-top: 40px;
}
.app-launcher {
  border-radius: 4px;
  background: var(--main-color);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;

  padding: 12px 24px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.app-launcher:hover {
  text-decoration: underline;
  background-color: var(--border-color);
  border: solid 2px var(--main-color);
}
.container {
  display: flex;
  justify-content: center;
}
.container h3 {
  padding: 50px;
  font-size: 40px;
  color: var(--details-color);
  padding-top: 20px;
  padding-bottom: 10px;
}

.soc-media-copy {
  display: flex;
  justify-content: center;
}

.soc-media-copy h6 {
  padding: 10px 40px;
  font-size: 12px;
  color: var(--secondary-color);
  text-align: center;
  transition: all 150ms ease-in-out;
}
.soc-media-copy a {
  text-decoration: none;
}

.soc-media-copy h6:hover {
  text-decoration: underline;
}

.portfolio {
  margin-top: 150px;
}
/*Portfolio page */

.portfolio h1 {
  font-size: 64px;
  line-height: 1.5;
  font-weight: 800;
  font-family: "Quicksand", sans-serif;
  color: var(--main-color);
  display: flex;
  justify-content: center;
}

.portfolio-link {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.portfolio-link a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--main-color);
  text-align: center;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 700;
  transition: all 150ms ease-in-out;
}
.portfolio-link a:hover {
  background: #f9f1f1;
}

.project-info h5 {
  font-size: 18px;
  line-height: 1.5;
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

.project-info a {
  text-decoration: none;
}
.project-info h5:hover {
  font-weight: 800;
  text-decoration: underline;
}

.project-info p {
  margin-top: 2px;
  font-size: 14px;
  font-style: italic;
  color: var(--details-color);
}

.portfolio-img {
  transition: all 200ms ease-in-out;
}
.portfolio-img:hover {
  width: 120%;
}
.book {
  width: 100%;
  height: auto;
}

/*About Ninia page */
.aboutninia h1 {
  margin-top: 150px;
  font-size: 64px;
  line-height: 1.5;
  font-weight: 800;
  font-family: "Quicksand", sans-serif;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
}
#about-ninia {
  background: var(--border-color);
}
h2.about-ninia {
  font-size: 64px;
  font-weight: 800;
  color: var(--main-color);
}

h5.about-ninia {
  font-size: 20px;
  color: var(--details-color);
  margin-bottom: 30px;
}

a.about-ninia {
  background-color: var(--main-color);
  color: var(--details-color);
  font-weight: 800;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 24px;
  transition: all 200ms ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

a.about-ninia:hover {
  background: var(--border-color);
  border: solid 2px var(--main-color);
}

p.about-ninia {
  padding: 50px;
  padding-top: 10px;
  margin-bottom: 10px;
  color: #891c9b;
  font-style: 800;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}
.button-second-ninia {
  margin: 50px;
}

/*Contact page */

.contact-info {
  margin-top: 180px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding: 50px 25px;
  margin-left: 180px;
  margin-right: 180px;
  background: var(--border-color);
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 80px;
}
.contact-info h1 {
  color: var(--secondary-color);
  font-size: 64px;
  line-height: 1.5;
}
.contact-info h3 a {
  text-decoration: none;
  color: var(--details-color);
  font-weight: 800;
  border: solid 2px var(--main-color);
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 150ms ease-in-out;
  font-size: 24px;
}

.contact-info h3 a:hover {
  background: var(--main-color);
  font-size: 28px;
}

/* homepage responsive edits*/

@media (max-width: 900px) {
  h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    padding-left: 10px;
    margin-top: -100px;
  }
  h2 {
    font-size: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
  }

  .main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
  }
  .main-button {
    font-size: 12px;
    padding: 10px 12px;
  }
  .secendory-button {
    font-size: 12px;
    padding: 10px 12px;
  }

  .col-6 {
    width: 100%;
    text-align: center;
  }

  .padding {
    padding-top: 25px;
  }

  .img-home-page {
    width: 100%;
  }

  footer {
    padding: 20px;
  }
  .app-launcher {
    margin: 20px;
  }
  .p-bg {
    margin-top: 10px;
  }
  .mb-3 {
    padding: 20px 10px;
  }
  .soc-media-copy h6 {
    padding: 5px 46px;
  }
  .portfolio h1 {
    font-size: 30px;
  }
}
/* About Ninia responsive edits*/
@media (max-width: 900px) {
  .aboutninia h1 {
    font-size: 30px;
  }
  .col-md-6 {
    text-align: center;
    margin: 0 auto;
  }

  h2.about-ninia {
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: -40px;
  }
  h5.about-ninia {
    padding: 15px;
    margin-top: -40px;
    font-size: 20px;
  }
  img.about-ninia {
    margin: 25px auto;
  }
  h3.about-ninia {
    margin-top: -20px;
    font-size: 24px;
    text-align: center !important;
  }

  .text-about-ninia p {
    margin-top: 10px;
    text-align: center !important;
  }
}
